<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Das Ferienhaus</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              Zu vermieten ist eine liebevoll und denkmalgerecht ausgebaute Scheune.
              Im Erdgeschoss befindet sich der großzügige Wohn- und Essbereich. Mittig
              im Raum steht ein moderner Holzofen, mit dem sich die Zentralheizung
              zusätzlich zur Gastherme beheizen lässt, sowie Bad und Küche.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              Auf zwei weiteren Ebenen befinden sich zwei Schlafzimmer, eines mit einem
              französischen Bett und eines mit zwei Einzelbetten.
              Vom Haus aus lässt sich direkt - über ca 1km Felder mit wunderbaren weiten
              Blicken - das <a href="http://www.eifel-natur-reisen.de/de/naturraum/nationalpark-region/naturschutzgebiete/bad-muenstereifeler-wald/">
              Naturschutzgebiet Bad Münstereifeler Wald</a> erreichen. 

            </p>
        </div>
    </div>
</section>
