<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Kontakt</h1>
            </div>
            <div class="col-md-12">
              <p>Sowohl die Vermietung als auch diese Seite befinden sich noch
                im Aufbau, wir beginnen im Sommer 2018 mit der Vermietung. Wenn
               Sie Interesse haben, das Haus zu mieten, schreiben Sie uns bitte
             eine email oder rufen an (wir rufen zurück).</p>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
    </div>
</footer>
